html,
body {
  direction: rtl;
  margin: 0;
  padding: 0;
}
* {
  font-family: inherit;
}
/* ScrollBar CSS */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* End Of ScrollBar CSS */
p {
  line-height: 1.6;
}

*:required:after {
  content: '*';
  color: red;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.errorP {
  text-align: center;
  color: red;
}
.successP {
  text-align: center;
  color: green;
}
.loadingP {
  text-align: center;
  color: black;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px #00000030;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 9;
  .LogoDiv {
    width: 20%;
  }
  .userDiv {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: max-content;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 5px 10px;
      text-shadow: 0 0 10px #00000050;
    }
    .openStore {
      background-color: #1f5dcf;
      color: white;
      transition: all 0.3s ease;
      &:hover {
        background-color: orange;
      }
    }
    button.storeManagment {
      background-color: #4476d2;
      &:hover {
        background-color: orange;
      }
    }
    .logoutButton {
      background-color: red;
      &:hover {
        background-color: rgb(153, 36, 36);
      }
    }
    button.cartIcon {
      background: none;
      color: black;
      font-size: 2.2rem;
      width: fit-content;
      margin: 0 5px;
      position: relative;
      transition: all 1s ease;
      &:after {
        content: "77";
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        font-size: 1rem;
        background-color: red;
        color: white;
        text-shadow: 0 0 10px white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  nav {
    width: 45%;
    ul {
      display: flex;
      justify-content: flex-start;
      li {
        margin: 0 20px;
        padding: 10px 20px;
        a {
          text-decoration: none;
          color: #000000;
          font-size: 1.3rem;
          position: relative;
          &::after {
            content: "";
            width: 0%;
            height: 3px;
            background-color: orange;
            position: absolute;
            bottom: 0;
            right: 0;
            transition: all 0.3s ease;
          }
          &:hover:after {
            width: 100% !important;
          }
        }
        &:hover a {
        }
      }
    }
  }
}
.popUpWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  opacity: 0;
  background-color: #00000060;
  backdrop-filter: blur(0);
  transition: all 0.5s ease;
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
}
.popUpWrapper.showCart {
  opacity: 1;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease;
}
.cartPopup {
  position: absolute;
  left: calc(-21%);
  top: 0;
  height: 90vh;
  width: 20vw;
  background-color: white;
  box-shadow: 0 0 10px black;
  padding-top: 10vh;
  z-index: 2;
  overflow-y: auto;
  transition: all 0.5s ease;

  h3 {
    font-size: 2rem;
  }
  button.toPayment {
    background-color: green;
    color: white;
    width: 100%;
    border-radius: 0;
  }
  .products {
    min-height: 50%;
    padding-right: 10px;
    padding-left: 10px;
    .productStoreWrapper {
      padding: 10px;
      border-radius: 10px;
      .product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .productImage {
          width: 15%;
          min-width: 15%;
          max-width: 15%;
          border: 1px solid black;
          height: 100%;
        }
        .productTitleAndStore {
          font-size: 0.9rem;
          font-weight: 400;
          h4 {
            font-size: 0.9rem;
            font-weight: 400;
          }
        }
        .productPriceAndAmount {
          font-weight: 400;
          font-size: 0.9rem;
        }
      }
    }
  }
}
.cartPopup.showCart {
  left: 0;
  transition: all 0.5s ease;
}
.cartPopup.hideCart {
  left: calc(-21%);
  transition: all 0.5s ease;
}

footer {
  background-color: rgb(190, 190, 190);
  min-height: 100px;
  position: relative;
  z-index: 2;
}
main {
  min-height: 76.1vh;
}
/* admin page */

/*SIDEBAR*/
.adminPage {
  display: flex;
  justify-content: flex-start;
  aside {
    position: fixed;
    width: 15%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(19, 86, 202);
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 1.3rem;
    a {
      color: white;
      text-shadow: 0 0 10px black;
      text-decoration: none;
    }
    li {
      padding: 10px;
      background-color: orange;
      border: 1px solid gray;
      border-radius: 20px;
      cursor: pointer;
      font-style: normal;
      transition: all 0.3s ease;
      &:hover {
        background-color: black;
      }
    }
  }
  div {
    width: 85%;
  }
}
/*MAIN*/

/* end of admin page */

/*GENERAL CSS*/
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  width: fit-content;
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  &:hover {
    background-color: #1f5dcf;
  }
}

ul {
  padding: 5px;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 50px;
  .formTitle {
    font-size: 1.5rem;
  }
  button {
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgb(48, 153, 48);
    }
  }
  div {
    display: flex;
    // flex-direction: column;
    position: relative;
    width: 100%;
    div {
      margin: 5px;
      position: relative;
      width: 50%;
      button {
        background-color: transparent;
        color: black;
        height: 100%;
        border-radius: 5px;
        margin: 0;
        border: 2px solid black;
        width: 100%;
        &:hover {
          background-color: whitesmoke;
        }
      }
      label {
        position: absolute;
        top: -10px;
        right: 15px;
        padding: 0 5px;
        background: white;
        font-size: 1rem;
        width: max-content;
      }
      input, 
      textarea,
      select {
        padding: 15px 10px;
        border-radius: 5px;
        border: 2px solid black;
        font-size: 1.2rem;
        width: 100%;
        resize: vertical;
        
      }
    }
  }
}


/* popup modal CSS */
.popupWrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.566);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  .popup {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    position: relative;

    h3 {
      margin: 20px 0 5px 0;
    }
    p {
      margin: 0 0 20px 0;
      padding: 0;
    }

    .closePopup {
      color: red;
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
  }
}
/* end of popup modal CSS */


/*END OF GENERAL CSS*/

/* Pages */

/* new products */

/* StoreManagement-> ManageProducts */
.manageProducts {
  .popup.singleProductEdit {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 20px 0;
    overflow: auto;
    > h3 {
      margin: 0;
      font-size: 1.5rem;
    }
    .formWrapper {
      width: 90%;
      margin: 0 auto;
      form {
        label {
          z-index: 2;
        }
        .section {
          margin: 10px 0;
          > div.mainImage {
            border: 2px solid black;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            div {
              position: relative;
              width: fit-content;
            }
            .deleteMainImage {
              cursor: pointer;
              position: absolute;
              top: 5px;
              left: 5px;
              color: red;
            }
            > button {
              width: 20%;
              height: 60%;
              margin: auto 20px;
              padding: 0;
              border: none;
              border-radius: 15px;
              background-color: rgb(255, 255, 255);
              box-shadow: inset 0 0 0 rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
              transition: 0.3s ease;
              &:hover {
                box-shadow:  inset 0 0 10px rgb(0, 0, 0), 
                 0 0 0 rgb(0, 0, 0);
              }            
            }
          }
        }
        .galleryWrapper {
          width: 100%;
          position: relative;
          .gallery {
            width: 100%;
            position: relative;
            margin: 0;
            > div {
              width: 100%;
              border-radius: 5px;
              border: 2px solid black;
              button {
                width: 20%;
                height: 80%;
                margin: auto 20px;
                border: none;
                border-radius: 30px;
                background-color: rgb(255, 255, 255);
                box-shadow: inset 0 0 0 rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
                transition: 0.3s ease;
                &:hover {
                  box-shadow:  inset 0 0 10px rgb(0, 0, 0), 
                   0 0 0 rgb(0, 0, 0);
                   padding: 20px;
                } 
              }
              .imageGallery {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                overflow: auto;
                div {
                  width: fit-content;
                  position: relative;
                  i {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    color: red;
                    cursor: pointer;
                    font-style: normal;
                  }
                }
              }
            }
              textarea {
                // padding-top: 20px;
                // height: 150px;
              }
          }
        }
      }
    }
    
  }
  .deletePopup {
    background-color: rgba(252, 116, 116, 0.379);
    backdrop-filter: blur(5px);
  }
}
.manageProducts {
  .editBoard {
    box-shadow: 0 0 10px black;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    > div {
      display: flex;
      justify-content: space-around;
    }
  }
  .handlers {
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: right;
    > button {
      box-shadow: 5px 5px 20px 0px #00000022;
    }
    button.deleteChecked {
      background-color: rgb(188, 60, 60);
      &:hover {
        background-color: rgb(200, 87, 87);
      }
    }
  }
  .tableWrapper {
    width: 90%;
    margin: 0 auto;
    padding: px;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #00000060;
  table {
    background-color:#00000040;
    padding: 0;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    thead {
      tr {
        background-color: #000000;
        color: white;
        border: none;
        th {
          font-weight: 500;
          padding: 10px;
          margin: 0;
          border-left: 1px solid rgb(123, 123, 123);
          small {
            font-weight: 300;
            font-size: 0.7rem;
            letter-spacing: 1px;
          }
        }
        th:first-of-type {
          padding: 0;
          margin: 0 auto;
          text-align: center;
          border-right: none;
          border-radius: 0 10px 0 0;
          input {
            margin: 0 10px;
            text-align: center;
          }
        }
        th:last-of-type {
          border-left: none;
          border-radius: 10px 0 0 0;
          padding-left: 0;
        }
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: #dbdbdb ;
      }
      tr:nth-child(even) {
        background-color: #bbbbbb ;
      }
      tr:last-of-type {
        td {
          border-bottom: none;
        }
        td:first-of-type {
          border-radius: 0 0 10px 0;
        }
        td:last-of-type {
          border-radius: 0 0 0 10px;
        }
      }
      tr {
        border: none;
        &:hover {
          background-color: #969696;
        }
        td {
          padding: 0 10px;
          border-bottom: 1px solid black;
          margin: 0;
          border-left: 1px solid black;
        }
        td.saleprice, td.price , td.title {
          > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
        td.onsaleq,
        td.publishq {
          font-size: 1.5rem;
          text-align: center;
          i.checkIcon {
            color: green;
          }
          i.closeIcon {
            color: rgb(254, 68, 68);
          }
        }
        td:first-of-type {
          border-right: none;
          text-align: center;
          padding: 0;
        }
        td:last-of-type {
          border-left: none;
          text-align: center;
        }
        td.shortDesc, td.longDesc, td.mainImage {
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        } 
        .icons {
          font-size: 1.2rem;
          display: flex;
          justify-content: space-around;
          .editIcon {
            color: rgb(113, 76, 7);  
            cursor: pointer;
            margin: 0 1px;
            &:hover {
              color: rgb(78, 52, 5);
            }
          }
          .watchIcon {
            color: rgb(80, 80, 197);
            cursor: pointer;
            margin: 0 1px;
            &:hover {
              color: rgb(60, 60, 143);
            }
          }
        }
        td.actions {
          font-size: larger;
          .icons {
            display: flex;
            justify-content: space-around;  
            .editIcon {
              color: black;
            }
            .deleteIcon {
              color: rgb(189, 14, 14);
            }
            i {
              font-style: normal;
              cursor: pointer;
            }
          }
        } 
      }
    }
  }
}
}
/* StoreManagement-> Add Product */
.storeManagmentPage div.addProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  .formWrapper {

    form {

      .section {
        div.mainImage {
          width: 100%;
          div {
            width: 100%;
            img {
              width: 100%;
              object-fit: contain;
              
            }
          }
        }
        .galleryWrapper {
          width: 100%;
          .gallery {
            width: 100%;
            margin: 0;
            > div {
              margin: 0;
              flex-direction: column;
              width: 100%;
              position: relative;
              button {
                width: 100%;
                height: fit-content;
              }
              .imageGallery {
                width: 100%;
                border: 2px solid black;
                border-top: 0;
                margin: 0 auto;
                border-radius: 10px;
                flex-wrap: nowrap;                
                height: fit-content;
                overflow-x: auto;
                max-width: 600px;
                position: relative;
                div {
                  position: relative;
                  margin: 5px;
                  padding: 5px;
                  border: 1px solid black;
                  border-radius: 5px;
                  width: fit-content;
                  i {
                    cursor: pointer;
                    color: red;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                  }
                  img {
                    object-fit: contain;
                  }
                }
              }
            }
            label {
              z-index: 5;
            }
            #multiple {
              display: none;
            }
          }
        }
      }
    }
  }
}
/* StoreManagement Layout */
.storeManagmentPage {
  .storeMain{
    .storeData {
      h2 {
        background-color: rgb(221, 218, 218);
        width: fit-content;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px 10px 0 0;
      }
      .storeDetails {
        display: flex;
        justify-content: space-between;
        background-color: rgb(221, 218, 218);
        border-radius: 20px;
        padding: 20px;
        margin: 0 100px;
        box-shadow: 0 0 20px 0px #00000020;
        div {
          p {
            text-align: center;
          }
        }
      }
      .storePromotions {
        display: flex;
        justify-content: space-around;
        h3 {
          font-size: 1.1rem;
        }
        p{
          font-size: 0.9rem;
        }
        button {
          font-size: 1rem;
        }
        > div {
          background-color: rgb(233, 140, 140);
          color: white;
          text-shadow: 0 0 10px black;
          width: 300px;
          height: 300px;
          margin: 50px auto;
          padding: 15px;
          border-radius: 50%;
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.22);
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .promotions {
          background-color: #7ea6f0;
        }
        .noProducts {         
          button {
            font-size: 1rem;
            padding: 10px 15px;
            width: fit-content;
            background-color: rgb(77, 157, 77);
            &:hover {
              background-color: rgb(45, 172, 45);
            }
          }
        }
      }
    }
  }
}

/* My account layout + StoreManagement Layout */

.MyAccountLayout , .storeManagmentPage {
  display: flex;
  justify-content: flex-start;
  
  main {
    margin: 50px auto;
    width: 70%;
    text-align: center;
  }
  aside {
    width: 15%;
    padding: 50px 0 0 0;
    z-index: 2;
    background: linear-gradient(290deg, whitesmoke, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    padding-top: 150px;
    ul {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      li {
        margin: 10px auto ;
        width: 100%;
        text-align: center;
        ul {
          padding: 0 10px 0 0;
        }
        a.MyStoreManagement {
          button {
            background-color: #4476d2;
          }
        }
        button {
          font-size: 1rem;
          padding: 5px;
          width: 150px;
          transition: all 0.3s ease;
          &:hover {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

/* Sellers Register Page */

main.SellerRegisterPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* single store */
main.SingleStorePage {
  .productIndex {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
    margin-top: 100px;
    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      box-shadow: 0 0 20px #00000050;
      min-height: 300px;
      padding: 40px;
      position: relative;
      text-decoration: none;
      color: black;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 0 0 40px #00000050;
      }
      .productData {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4 {
          margin-top: 0;
          margin-bottom: 10px;
        }
        h3 {
          margin-bottom: 10px;
        }
      }
      .productDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .productImage {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            max-height: 300px;
            max-width: 300px;
          }
        }
      }
      button {
        z-index: 99;
        &:hover {
          background-color: green;
        }
      }
    }
  }
}
/*Login Popup*/
.loginPopup {
  form {
    min-width: 40%;
    position: relative;
    div {
      width: 100%;
      flex-direction: column !important;
      i {
        position: absolute;
        left: 5px;
        top: calc(50% + 2px);
        cursor: pointer;
        font-style: normal;
        transform: translateY(-50%);
        font-size: 1.6rem;
      }
    }
  }
}
/*Register page*/
main.registerPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  button {
    padding: 5px 10px;
  }
}

/* StoreSettings */
  .publishStore, .dangerZone {
    border: 1px solid black;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    h2 {
      margin: 0;
    }
  }
  .dangerZone {
    border: 2px dotted red;
  }
/* end of Pages */

/*popup css*/
.popupModal.showPopup {
  opacity: 1;
  backdrop-filter: blur(7px);
}
.popupModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000080;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0;
  backdrop-filter: blur(0px);
  transition: all 0.3s ease;
  .popupBackground {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .popupContent.showPopup {
    margin-top: 0;
    opacity: 1;
    z-index: 999;
  }
  .popupContent {
    position: relative;
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 10px #00000061;
    width: 50%;
    height: fit-content;
    margin-top: -200px;
    background-color: white;
    border-radius: 50px;
    opacity: 0;
    transition: all 0.3s ease;

    .closePopup {
      position: absolute;
      top: 20px;
      left: 20px;
      width: fit-content;
      background-color: red;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgb(128, 28, 28);
      }
    }
  }
}
/*end of popup css*/

/* Loader CSS */
.Loader {
  min-height: 78.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 5rem;
}
/* End Of Loader CSS */

/* phone shop model */
main.index.storesPage {
  .archive {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 0;
    .shop {
      position: relative;
      .phone {
        border: 20px solid black;
        border-radius: 50px;
        height: 500px;
        max-height: 500px;
        min-height: 500px;
        max-width: 80%;
        padding: 5px 0px 0px 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        &:after {
          content: "";
          width: 100%;
          height: 20px;
          position: absolute;
          bottom: 0px;
          left: 50%;
          z-index: -1;
          transform: translateX(-50%);
          box-shadow: 0 30px 20px #0000005b;
        }
        .pergula {
          background-color: transparent;
          width: calc(100% + 50px);
          height: 20%;
          position: absolute;
          top: -20px;
          left: -25px;
          border-radius: 50px 50px 0 0;
          box-shadow: 0px -20px 35px -20px rgb(0 0 0 / 52%);
          perspective: 100px;
          .pergula_up {
            background-color: rgb(188, 40, 40);
            width: 100%;
            height: 40%;
            margin-top: -5px;
            border-radius: inherit;
            position: relative;
            display: flex;
            transform: perspective(100px) rotateX(5deg);
            .wineRed {
              background-color: transparent;
              width: 50%;
              height: 100%;
              position: relative;
            }
            .offWhite {
              background-color: white;
              width: 50%;
              height: 100%;
              position: relative;
            }
          }
          .pergula_down {
            width: calc(100% + 16px);
            height: 30%;
            margin: 0 -8px;
            border-radius: 0;
            position: relative;
            display: flex;
            transform: perspective(144px) rotateX(1deg);
            .wineRed {
              background-color: rgb(149, 12, 12);
              width: 50%;
              height: 100%;
              position: relative;
              border-radius: 0 0 50px 50px;
              box-shadow: 0 0 60px 6px #00000085;
            }
            .offWhite {
              background-color: rgb(237, 237, 237);
              width: 50%;
              height: 100%;
              position: relative;
              border-radius: 0 0 50px 50px;
              box-shadow: 0 0 60px 6px #00000085;
            }
          }
        }
        .shopData {
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-position: center;
          background-repeat: repeat;
          background-size: cover;
          img {
            width: calc(100% + 20px);
            object-fit: cover;
          }
        }
        .storeButton {
          width: 100%;
          position: relative;
          a {
            width: 100%;
            height: 100%;
            button {
              width: 100%;
              height: 100%;
              background-color: rgb(253, 214, 86);
              border-radius: 0 0 30px 30px;
              border: none;
              padding: 10px 0;
              cursor: pointer;
              font-size: 1.2rem;
              font-weight: bold;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
/* End of phone shop model */
